.LayoutInspector {
  display: none;
  position: absolute;
  top: -75px;
  left: 0;
  height: 76px;
  font-size: 12px;

  background: white;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      .label {
        display: inline-block;
        width: 60px;
        text-align: center;
      }
    }
  }

  .row {
    input {
      width: 30px;
    }
  }

  &:hover {
    display: block;
  }
}

*:hover > .LayoutInspector {
  display: block;
}



